datasets
numpy==1.23.5
protobuf==3.20
codecarbon
wandb
knockknock
transformers==4.28.0
unbabel-comet
git+https://github.com/ricardorei/evaluate.git@update-comet#egg-evaluate
dill
einops
torch
matplotlib
unbabel-comet
accelerate
apache_beam
mwparserfromhell
