transformers
datasets
numpy==1.23.5
protobuf==3.20
codecarbon
wandb
knockknock
transformers==4.28.0
unbabel-comet
evaluate @ git+https://github.com/huggingface/evaluate@3fecf5df282dcbe3098c8023ea813922bb90fb34
dill
einops